.hero {
        background: linear-gradient(135deg, #6210ba 0%, #4588fc 100%);
        padding: 100px;
        color: white;
      }

      .hero .btn {
        transition: all 0.3s ease;
      }

      .hero .btn:hover {
        transform: scale(1.1);
      }

.about p {
  text-align: justify;
}

.card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgb(53, 53, 0.15) ;
}

.footer {
  background: linear-gradient(135deg, #6210ba 0%, #81acf7 100%);
 
}

.footer a  {
 margin: 0 15px;
 color: black;
 transition: color 0.3s ease;
}
.footer a:hover {
  color: aliceblue;
  
}

